/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.intro-text {
  letter-spacing: -1px;
  font-size: calc(25px + 5vmin);
  line-height: -10px;
}
